.navbar--items{
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .2);
    height: 80px;
    border-radius: 13px;
}
h1{
    cursor: pointer;
}
.nav--menu{
    list-style: none;
    display: flex;
    gap: 2rem;
}

a{
    margin-left: 5px;
    text-decoration: none;
}

.items {
    background-image: linear-gradient(
      to right,
      #54b3d6,
      #54b3d6 50%,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  .items:before{
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .items:hover {
   background-position: 0;
   filter: brightness(1.2); 
  }
  .items:hover svg path{
    stroke: #54b3d6; 
  }
 
  .items:hover::before{
    width: 100%;
  }