.navbar--items{
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    align-items: center;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .2);
    height: 75px;
    border-radius: 13px;
}
h1{
    cursor: pointer;
}


nav .menu{
    display: none;
    position:absolute;
    top:0.75rem;
    right:0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}
nav .menu span{
    color: #000;
    height: 0.4rem;
    width: 100%;
    background-color: black;
    border-radius: 0.2rem;
}

nav ul.open{
    display: flex;
}

a{
    margin-left: 5px;
    text-decoration: none;
}

.items {
    background-image: linear-gradient(
      to right,
      #54b3d6,
      #54b3d6 50%,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 15px;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  .items:before{
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .items:hover {
   background-position: 0;
   filter: brightness(1.2); 
  }
  .items:hover svg path{
    stroke: #54b3d6; 
  }
 
  .items:hover::before{
    width: 100%;
  }

  @media (max-width:850px){
    nav .menu{
        display: flex;
        
    }
    nav{
        flex-direction: column;
        align-items: start;
    }
    nav ul{
        display:none;
        flex-direction: column;
        width: 100%;
        margin-bottom: .25rem;
    }
    nav ul li{
        width: 100%;
        text-align: center;
    }
    nav ul li a{
        margin: 0.2rem 0.5rem;
    }

  }